/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    font-family: source-sans-pro, sans-serif;
    font-size: 1em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    height: 100vh;
    width: 100vw;
    background: repeating-linear-gradient(
        135deg,
        #449233,
        #348223 180px,
        #B21919 180px,
        #A20909 360px
    );
    background-image: url("../img/background.png");
}

.app-container {
    height: 100vh;
    width: 100vw;
}

.title-page__main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    margin: auto;
    text-align: center;
    transition: height 0.4s;
}

.title-page__main--tall {
    height: 350px;
}

.title-page__main--full {
    height: 100vh;
}

.title-page__all-cameras {
    margin-top: 100vh;
    display: none;
}

h1 {
    font-size: 4.2em;
    font-weight: 900;
    margin: 0;
    letter-spacing: -1px;

    color: white;
    text-shadow: 1px 1px 7px black;
}

.sentence-text {
    margin: 20px 20px 0;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.35em;
    word-spacing: 0.05em;

    color: white;
    text-shadow: 1px 1px 7px black;
}

.sentence-text--result {
    font-size: 4em;
    margin-top: 70px;
}

.sentence-text__chosen {
    font-weight: 700;
    word-spacing: 0;
}

.sentence-text__result-camera {
    font-weight: 700;
    word-spacing: 0;
    position: relative;
    white-space: nowrap;
}

.sentence-text__result-camera::after {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22px 26px 22px;
    border-color: transparent transparent white transparent;
}

.result-box {
    background-color: white;
    margin-top: 21px;
    box-shadow: 0 0 7px black;
    overflow: hidden;

    height: 0;
    transition: height 0.4s;
}

.result-box--open {
    height: 300px;
    padding: 20px 0;
}

.result-box--listitemview {
    height: auto;
    width: 1040px;
    margin: 20px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 20px 0;
}

.result-box__section {
    width: 500px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-left: 1px solid lightgray;
}

.result-box__section:first-child {
    border-left: none;
}

.result-box__image {
    max-height: 300px;
    max-width: 470px;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.result-box__specs {
    width: 470px;
    padding-left: 30px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.15em;
    overflow: visible;

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-height: 300px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (max-width: 1001px) {
    .result-box--open {
        height: 600px;
    }

    .result-box__section {
        border-left: none;
        border-top: 1px solid lightgray;
    }

    .result-box__section:first-child {
        border-top: none;
    }

    .result-box__specs {
        padding-left: 0;
        top: 30px;
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .result-box__image {
        right: 0;
        left: 0;
        top: 0;
        bottom: 20px;
        max-height: 280px;
    }
}

h3 {
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 3px;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 12px;
}

.result-box__list li {
    font-weight: 700;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 12px;
}

.result-box__list--pros li {
    color: darkgreen;
}

.result-box__list--cons li {
    color: darkred;
}

.result-box__list li::before {
    display: inline-block;
    font-size: 1.1em;
    width: 17px;
    height: 17px;
    line-height: 1em;
    font-weight: 900;
    border-radius: 9px;
    line-height: 17px;
    color: white;
    text-align: center;
    margin-right: 3px;
}

.result-box__list--pros li::before {
    content: '+';
    background-color: darkgreen;
}

.result-box__list--cons li::before {
    content: '-';
    background-color: darkred;
    line-height: 15px;
}

.result-box__price {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 14px;
    background-color: #FF9900;
    border-radius: 5px;
    color: white;
    padding: 5px 12px;
    display: inline-block;
}

.restart-button {
    vertical-align: top;
    margin: 40px auto 0;
    font-size: 1.8em;
    letter-spacing: -1px;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    padding: 20px 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;

    color: white;
    text-shadow: 1px 1px 7px black;
}

.restart-button::before {
    /*position: absolute;*/
    /*left: 3px;*/
    content: '';
    size: 1.2em;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;

    height: 48px;
    width: 48px;
    background-size: 48px;
    background-image: url("../img/restart-icon@2x.png");
}

.restart-button:hover::before {
  transform: rotate(-360deg);
  transition: transform .6s ease-in-out;
}

.view-all-suggestions-button {
    vertical-align: top;
    margin: 40px auto 0;
    height: 60px;
    font-size: 1.8em;
    letter-spacing: -1px;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    padding: 20px 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;

    color: white;
    text-shadow: 1px 1px 7px black;
}

.view-all-suggestions-button::after {
    display: block;
    margin-top: -15px;
    font-size: 1.5em;
    content: '▾';
    transition: margin-top 0.2s;
}

.view-all-suggestions-button:hover::after {
    margin-top: -8px;
}

.title-page__begin {
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    padding: 20px 40px;
    margin: 0 auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    color: white;
    text-shadow: 1px 1px 7px black;
}

.title-page__begin::after {
    display: block;
    margin-top: -15px;
    font-size: 1.5em;
    content: '▾';
    transition: margin-top 0.2s;
}

.title-page__begin:hover::after {
    margin-top: -8px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.title-page__footnote {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
    font-weight: 900;

    color: white;
    text-shadow: 1px 1px 7px black;
}

.option-list {
    margin-top: 30px;
}

.option-list__option {
    display: block;
    font-size: 1.7em;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;

    color: white;
    text-shadow: 1px 1px 7px black;
}

.option-list__option:hover {
    font-weight: 700;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


    .title-page__main {
        position: default;
    }
}